/* font style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(56, 178, 219);
}

/* Banner */
header{
    display: flex;
    background-color: black;
    margin: 50px 140px 130px 100px;
    border-radius: 10px;
    width: 1521px;
    height: 646px;
    
}
.banner-title{
    padding-left: 106px;
}
.banner-title h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
   
}
.banner-title p{
    color: white;
}
.banner-title h4{
    color: white;
    background-color: red;
    border-radius: 10px;
    width: 120px;
    height: 20px;
    padding: 16px 25px;
}
.banner-image{
    padding-bottom: 0;
}

/* main */
main{
    display: flex;
}

.left-side {
       background-color: black;
        border-radius: 10px;
        width: 312px;
        height: 312px;
       margin-left: 110px;
       margin-right: 24px;
}

.left-side p {
    border: 1px solid white;
    width: 252px;
    height: 64px;
    color: black;
    border-radius: 10px;
    margin-left: 30px;
    text-align: center;
    padding-top: 15px;
    justify-items: center;
    font-weight: 700;
    font-size: 20px;
    
}
.top, .up{
background-color: white;
}

.bottom{
    background-color: red;
}

.right-side{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 50px;
}


.one{
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    height: 20px;
    padding: 11px 20px;
    text-align: center;
}
.icons{
    display: flex;
    justify-content:space-between;
    padding-right: 10px;
}



/* footer */
footer{
    background-color: black;
}
footer h1{
    padding-top: 130px;
    text-align: center;
    color: white;
}

hr{
    border: 1px solid gray;
    width: 1320px;
}

.options, .social-media{
    display: flex;
    justify-content: center;
}

.options, .social-media, a {
    text-decoration: none;
    padding: 21px 21px;
    color: gray;
    
}



/* Media queries */

/* For Mobile Phones */
@media only screen and (max-width: 688px) {
    header{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        background-color: black;
            margin: 15px 5px 10px 5px;
            border-radius: 10px;
            width: 320px;
            height: 472px;
    }

    .banner-title {
        padding-left: 53px;
    }

    .banner-title h1 {
        font-size: 22px;
        font-weight: 700;
        color: white;
    }

    .banner-image img {

        width: 130px;
        higrt: 180px;
        padding-bottom: 0;
        padding-left: 70px;
    }
/*  main */
    main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    /* Left side */

    .left-side p{
        width: 200px;
        height: 50px;
        font-size: 16px;
    }
    .left-side {
           background-color: rgb(56, 178, 219); 
            border-radius: 10px;
           
            margin-left: 10px;
            margin-right: 24px;
            margin-bottom: 15px;
    }

    /* Right side */

    .right-side{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-left: 10px;
        padding-right: 80px;
    }

    /* footer */
        hr{
            width: 285px;
        }
        .options,
        .social-media {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
        }
}

/* For Tablet devices */

@media only screen and (min-width: 689px) and (max-width:992px){

    /* Body */
    body{
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        }
    /* Header */

    header{
            display: flex;
            background-color: black;
            border-radius: 10px;
            width: 724px;
            height: 398px;
            margin-left: 0;
            margin-right: 0;
            padding-right: 50px;
            }

    .banner-title h1 {
            font-size: 30px;
            font-weight: 700;
             color: white;
            }

    .banner-image img {

            width: 323px;
            higrt: 340px;
            padding-left: 70px;
            padding-right: 0;
            }

      /* Main */
      main{
        display: grid;
        grid-template-rows: repeat(1,1fr);
        
      }

    /* Left side */

    .left-side{
        display: flex;
        background-color: rgb(56, 178, 219);
        margin-bottom: 30px;
     }

    .left-side p {
         border: 1px solid white;
         width: 200px;
         height: 50px;
         color: black;
         border-radius: 10px;
         margin-left:  5px;
         text-align: center;
         padding-top: 10px;
         justify-items: center;
         font-weight: 700;
        font-size: 16px;
        }

    /* Right side */

        .right-side {
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            row-gap: 20px;
            column-gap: 20px;
        
        }


    
/* footer */

footer{
    margin-left: 0;
    margin-right: 0;
}
hr{
    width: 500px;
}
}
